<h3>Estadisticas de la web</h3>

<br/>

<p>Total de preguntas: <%= preguntas %></p>
<p>Total de comentarios publicados: <%= comentarios %></p>
<p>Media de comentarios por pregunta: <%= media.toFixed(2) %></p>
<p>Preguntas sin comentarios: <%= sinComments %> </p>
<p>Preguntas con comentarios: <%= conComments %> </p>
